[buildout]
extends = http://download.zope.org/zopetoolkit/index/1.0/ztk-versions.cfg
allow-picked-versions = false
develop = .
parts = test
prefer-final = true
unzip = true
versions = versions


[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.usercrontab
       z3c.recipe.usercrontab[test]
